<?xml version="1.0"?>
<gui>
  <plugin filename="MinimalScene" name="3D View">
    <gz-gui>
      <title>3D View</title>
      <property type="bool" key="showTitleBar">false</property>
      <property key="state" type="string">docked</property>
    </gz-gui>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>0.4 0.4 0.4</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-3.8 -2.6 2.3 0 -0.35 0.6</camera_pose>
  </plugin>
</gui>
